{% extends "blogs/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
    <h3>Posts</h3>
{% endblock page_header %}

{% block content %}
    {% buttons %}
        <form action="{% url 'blogs:new_post' %}">
            <button name="add_post" class="btn btn-primary">Add post</button>
        </form>
        <!--<a href="{% url 'blogs:new_post' %}">Add a new post</a> -->
    {% endbuttons %}
    </p>
    {% for post in posts %}
        <div class="card mb-3">
            <h4 class="card-header">
                <strong>
                    <a href="{% url 'blogs:post' post.id %}">{{ post.title }}</a>
                </strong>
                <b>
                    {{ post.owner }}
                </b>
                {{ post.date_added }}
            </h4>
            <div class="card-body">
                {{ post.text | linebreaksbr }}
                <form action="{% url 'blogs:edit_post' post.id%}">
                    <button name="add_post" class="btn btn-secondary btn-sm float-right">Edit</button>
                </form>
            </div>
        </div>
    {% empty %}
        <li><h3>No posts have been added yet.</h3></li>

    {% endfor %}

{% endblock content %}