{% extends "blogs/base.html" %}

{% block page_header %}
    <h3>Posts</h3>
{% endblock page_header %}

{% block content %}
    <p>
        <a href="{% url 'blogs:new_post' %}">Add a new post</a>
    </p>
    {% for post in posts %}
        <div class="card mb-3">
            <h4 class="card-header">
                <small>
                    <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
                </small>
                {{ post.date_added }}
                <strong>
                    <a href="{% url 'blogs:post' post.id %}">{{ post.title }}</a>
                </strong>
            </h4>
            <div class="card-body">
                {{ post.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <li><h3>No posts have been added yet.</h3></li>

    {% endfor %}

{% endblock content %}