{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Post: {{ post.title }}</h2>
{% endblock page_header %}

{% block content %}

    <div class="card mb-3">
        <h4 class="card-header">
            <strong>
                <a href="{% url 'blogs:post' post.id %}">{{ post.title }}</a>
            </strong>
            <b>
                {{ post.owner }}
            </b>
            {{ post.date_added }}
        </h4>
        <div class="card-body">
            {{ post.text }}
            <form action="{% url 'blogs:edit_post' post.id %}">
                <button name="add_post" class="btn btn-secondary btn-sm float-right">Edit</button>
            </form>
        </div>
    </div>

{% endblock content %}